
@model CookieCart



<div>
    Efter köp
</div>
<div class="container container-fluid">
    <div class="row">
        <div class="span1">
            <h4>Namn</h4>
        </div>
        <div class="span1">
            <h4>Email</h4>
        </div><div class="span1">
            <h4>Adress</h4>
        </div><div class="span1">
            <h4>Storlek</h4>
        </div>
        <div class="span1">
            <h4>Antal</h4>
        </div>
        <div class="span1">
            <h4>Pris</h4>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.CartItems)
        {
            <div class="span1">
                <h4 style="color: chocolate">@item.ProductName</h4>
            </div>
            <div class="span1">
                <h4 style="color: chocolate">@item.Price</h4>
            </div>
            <div class="span1">
                <h4 style="color: chocolate">@item.NumberOfItems</h4>
            </div>
            <div class="span1">
                <h4 style="color: chocolate">@item.ProductName</h4>
            </div>
        }
    </div>
</div>
Tack för din köp
Välkommen åter
<br />
@Html.ActionLink("Gå tillbaka", "DeleteCookies", "ShoppingCartPage")