@using EPiServer.Data
@model ShoppingCartViewModel

<div class="row">
    @if (Model.CurrentCart.CartItems.Count > 0)
    {

        <table class="table table-hover table-striped sortable">
            <thead>
                <tr>
                    <th>Produkt Namn</th>
                    <th>Storlek</th>
                    <th>Antal</th>
                    <th>Pris</th>
                    <th>Moms</th>
                </tr>
            </thead>
            @foreach (var item in Model.CurrentCart.CartItems)
                {
                <tbody>
                    <tr>
                        <td style="color: chocolate">@item.ProductName</td>
                        <td style="color: chocolate">@item.Size</td>
                        <td style="color: chocolate"> @item.NumberOfItems</td>
                        <td style="color: chocolate">@item.Price</td>
                        <td style="color: chocolate">@item.TotalMoms</td>
                        <td>@*@Html.ActionLink("Radera en cookie", "DeleteACookie", new { product = item.ImageId }, null)*@  </td>
                        <td>@Html.ActionLink("Radera en cookie", "DeleteACookie", new { product = item.ImageId }, null)  </td>
                    </tr>
                </tbody>
            }
        </table>

            <div class="pull-right">@Html.ActionLink("Radera", "Delete", "ShoppingCartPage")</div>
            <div class="jumbotron">
                Total pris:<h4>@TempData["TotalPrice"]</h4>
                Total moms: <h4>@TempData["TotalMomsInCart"]</h4>
            </div>
            <br /> <br />

            <div>
                <button type="submit" name="buy" value="all" class="btn btn-primary btn-large" id="preview">gå vidare</button>
            </div>
    }
    else
    {
        <div class="span4">
            <h3>Din varukorg är tom</h3>
            <br />
            <h4>   @Html.ActionLink("Fortsät att handla", "ToShoppingPage", "ShoppingCartPage") </h4>
        </div>
    }

</div>



<div class="row" id="myDIV">
    <hr style="background-color: black; color: aqua" />
    @using (Html.BeginForm("FinishShopping", "ShoppingCartPage", FormMethod.Post))
    {
        <div class="span4">
            <input type="text" name="userName" value="userName" />
            <input type="text" name="email" value="email" />
            <input type="text" name="adress" value="adress" />
            <input type="submit" name="slutfor" value="slufor" />
            <input type="hidden" name="productPageId" value="@Model.CurrentPage.PageLink.ID" />
        </div>
    }
</div>
<div>
</div>
