@model CookieCart






<div class="row">
    <div class="span1">
        <h5>Produkt Namn</h5>
    </div>
    <div class="span1">
        <h4>Storlek</h4>
    </div>
    <div class="span1">
        <h4>Antal</h4>
    </div>
    <div class="span1">
        <h4>Pris</h4>
    </div>
    <div class="span1">
        <h4>Moms</h4>
    </div>
</div>
<div class="row">
    @if (Model.CartItems.Count > 0)
    {

        foreach (var item in Model.CartItems)
        {
            <div class="span1">
                <a href="@Model.Layout.ShoppingPageUrl">  <h4 style="color: chocolate">@item.ProductName</h4></a>
            </div>
            <div class="span1">
                <h4 style="color: chocolate">@item.Size</h4>
            </div>
            <div class="span1">
                <h4 style="color: chocolate">@item.NumberOfItems</h4>
            </div>
            <div class="span1">
                <h4 style="color: chocolate">@item.Price</h4>
            </div>
            <div class="span1">
                <h4 style="color: chocolate">@item.TotalMoms</h4>
            </div>
            <div class="span1">
                <h4  style="color: chocolate; height: 20px; width: 20px">@item.ImageId</h4>
            </div>
        }

    <div class="span2 pull-right">
        @Html.ActionLink("Radera", "Delete", "ShoppingCartPage")
    </div>
    }
    else
    {
    <div class="span4">
        @TempData["TomVarukorg"]
        <br />
        <h4>   @Html.ActionLink("Tillbaka till start sidan", "ToShoppingPage", "ShoppingCartPage") </h4>
    </div>
    }

</div>

<br /> <br />

<div>
    <button type="submit" name="buy" value="all" class="btn btn-primary btn-large" id="preview">gå vidare</button>
</div>

<div class="row" id="myDIV">
    <hr style="background-color: black; color: aqua" />
    @using (Html.BeginForm("FinishShopping", "ShoppingCartPage", FormMethod.Post))
    {
        <div class="span4">
            <input type="text" name="userName" value="userName" />
            <input type="text" name="email" value="email" />
            <input type="text" name="adress" value="adress" />
            <input type="submit" name="slutfor" value="slufor" />
            <input type="hidden" name="productPageId" value="@Model.CurrentPage.PageLink.ID" />
        </div>
    }
</div>
<div>
</div>

@*</div><div class="span1">
        <h3>Moms</h3>
    </div><div class="span1">
        <h3>CartId</h3>*@
@*<div>
        foreach (var item in Model.ShoppingPagesInCart)
            {
        <h3>item.Size</h3>
            <h3>@item.NumberOfItems</h3>
            <h3>@item.CartItemTotal</h3>
            <h3>@item.TotalMoms</h3>
        }
    </div>*@
