@model PageViewModel<ShoppingPage>

@{
    Layout = "~/Views/Shared/Layouts/_TwoPlusOne.cshtml";
}
@*<button class="add">+ Add to cart</button>*@
<h3 @Html.EditAttributes(x => x.CurrentPage.Name)> @Html.PropertyFor(x => x.CurrentPage.Name)</h3>

<div class="row">
    @if (Model != null)
    {
        <form method="post" action="@Model.Layout.CartUrl">
            <div class="span4 media">
                <div class="mediaImg">
                    @if (Model.CurrentPage.ProductImage != null)
                    {
                        @Html.PropertyFor(x => x.CurrentPage.ProductImage)
                    }
                    else
                    {
                        <img src="~/Static/img/nopreviewavailable.png" alt="No image available"/>
                    }

                    <h3 @Html.EditAttributes(x => x.CurrentPage.ProductPriceFor)>Pris: @Html.PropertyFor(x => x.CurrentPage.ProductPriceFor)</h3>
                    <h4>Moms är: @Html.DisplayFor(x => x.CurrentPage.Moms)</h4>
                    <h5>Produkt Id: @Html.DisplayFor(x => x.CurrentPage.Id)</h5>
                </div>
            </div>
    @if(@Model.CurrentPage.Productavailability == true) { 
            <div class="span4">
                @Html.PropertyFor(x => x.CurrentPage.ProductDecscription)
                <br/>
                <h4>Välj storleken</h4>
                <select id="size" name="sizes">
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
                
                @*<br/>
                <h4>Välj storleken</h4>
                <select  name="sizes">
                    <option value="Small">@Html.PropertyFor(x => x.CurrentPage.ProductSize)</option>
                    <option value="Medium">@Html.PropertyFor(x => x.CurrentPage.ProductSize)</option>
                    <option value="Large">@Html.PropertyFor(x => x.CurrentPage.ProductSize)</option>
                </select>*@

                <h4>Välj kvantitet</h4>
                <select id="dropdown" name="numberOfItems">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <input type="hidden" name="productPageId" value="@Model.CurrentPage.PageLink.ID" />
                <input type="hidden" name="productPageName" value="@Model.CurrentPage.Name"/>
                <input type="submit" class="btn btn-primary add" value="+ Läg till" id="add">
            </div>
    }
            else
            {
            <h3>  Produkten finns inte i lagar </h3>
            }
        </form>
            }
    
</div>

<script>
    //var itemCount = 0;

    //$(".add").click(function () {
    //    itemCount++;
    //    if (itemCount<=10) {
    //    $("#itemCount").html(itemCount).css("display", "block");
    //        } else {
    //        alert("You can not add more than 10 items");
    //    }
    //});

    //$(".clear").click(function () {
    //    itemCount = 0;
    //    $("#itemCount").html("").css("display", "none");
    //    $("#cartItems").html("");
    //});
    //$("#myLink").click(function (e) {

    //    e.preventDefault();
    //    $.ajax({

    //        url: $(this).attr("href"), // comma here instead of semicolon   
    //        success: function () {
    //            //alert("Value Added");  // or any other indication if you want to show
    //        }
    //        // form serialize
    //        // onsubmit
    //    });

    // });
</script>
@*<script>
    $.ajax({
        type: "POST",
        url: '/ProductAsync/GetProductData',
        data: JSON.stringify({
            Shopping: currentPage
        }),
        contentType: "application/json; charset=utf-8",
        success: function (returndata) {

            $('div#' + currentPage).empty().html(returndata);

            var productDataJson = $.cookie(currentPage + "-ProductData");
            alert(productDataJson);

        }
    }); 
</script>*@