
@model ShoppingPage

@{
    Layout = "~/Views/Shared/Layouts/_TwoPlusOne.cshtml";
}
<button class="add">+ Add to cart</button>
<h3 @Html.EditAttributes(x => x.Name)> @Html.PropertyFor(x => x.Name)</h3>

<div class="row">
    @if (Model != null)
    {
        <form method="post" @*action="@Model.Layout.CartUrl"*@ action=".">
            <div class="span4 media">
                <div class="mediaImg">
                    @if (Model.ProductImage != null)
                    {
                        @Html.PropertyFor(x => x.ProductImage)
                    }
                    else
                    {
                        <img src="~/Static/img/nopreviewavailable.png" alt="No image available" />
                    }

                    <h3 @Html.EditAttributes(x => x.ProductPriceFor)>Pris: @Html.PropertyFor(x => x.ProductPriceFor)</h3>
                    <h4>Moms är: @Html.DisplayFor(x => x.Moms)</h4>
                    <h5>Produkt Id: @Html.DisplayFor(x => x.Id)</h5>
                </div>
            </div>
            <div class="span4">
                @Html.PropertyFor(x => x.ProductDecscription)
                <br />
                <h4>Välj storleken</h4>
                <select id="size" name="sizes">
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>

                <h4>Välj kvantitet</h4>
                <select id="dropdown" name="numberOfItems">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

                <input type="submit" class="btn btn-primary add" value="+ Läg till">
            </div>
        </form>
    }
</div>
